

.container_principal {
    width: 1200px;
    display: flex;
    background-color: aqua;
}

.container_banner {
    width: calc(100% - 1200px);
    background-color: blue;
    position: fixed;
    right: 20px;

}


