

    .gallery { position: relative;
        margin: 0 auto;
    text-align: center;}

    .galleryimg {display: inline-block;}
    
    .galleryimg img{
        width: 350px; 
        height: 250px;
        margin: 15px;
        margin-bottom: 0;
    border-radius: 20px; border-bottom-left-radius: 0%; border-bottom-right-radius: 0%;}

    .footer { height: 100px;
    width: 350px;
    background-color: antiquewhite;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;}

    h3 {margin: 0 auto;
    padding-top: 10px;}