

    .gallery { display: flex;
        margin: 0 auto;
    text-align: center;}

    .galleryimg {display: inline-block;}
    
    .galleryimg img{
        width: 450px; 
        height: 350px;
        margin: 15px;
         border-radius: 20px; }



    h3 {margin: 0 auto;
    padding-top: 10px;}