.fullscreen {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.container_receta { display: flex;
    margin: auto;
    flex-direction: column;
    width: 70%;
    text-align: left;
    height: 100%;
    margin-top: 150px;
    background-color: #e5ba85;
    border-radius: 10px;  
    overflow: hidden; 
    display: inline-block;
}

.flex {display: flex;
    flex: row;
    justify-content: center;}

h1 {padding-left: 30px; padding-top: 15px;

     text-align: left; margin-bottom: 10px; font-size: 32px; color: #26221F;
    font-family: 'Jua';}

h2 {text-align: left; color: rgba(61, 54, 54, 0.781);
    padding-left: 30px;
    margin-top: 0%;}

h3 {font-size: 20px; text-align: left;
    padding: 10px; color:  #ed7230;}


li {list-style: none; color: #26221F;}

.ingredientes { text-align: left;
    background-color: antiquewhite;
    height: 100%;
    width: 700px;
    border-radius: 10px;
    margin-left: 30px;
    padding-bottom: 10px;
    margin-right: 17px;
}

.Proceso { background-color:antiquewhite;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 30px;
    height: 100%;
    width: 90%;
    margin: 30px;
    border-radius: 10px;
    color: #26221F;
    text-align: left;}

.Tarta {height: 450px;
    width: 550px;
    border-radius: 10px;
    object-fit: cover;
}
.tabla {height: 40px;
    width: 500px;
    margin: 0 auto;}

 table { display: table;
    border-collapse: collapse;
    text-indent: initial;
    border: 4px groove #ed7230;
    border-spacing: 2px;
}

td {
    display: table-cell;
    padding: 20px;
    border-right: 2px  groove #ed7230}


.container_comentarios { display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    text-align: left;
    height: 100%;
    margin-top: 50px;
    background-color: #e5ba85;
    border-radius: 10px;  
    overflow: hidden; }




.Comentario1 {
   padding: 30px;
    margin: 30px;
    border-radius: 10px;
    color: #26221F;
    text-align: left;
 height: 300px;
    width: 89%;
    background-color: #a8bb61;
}
.Comentario2 {  padding: 30px;
    margin-top: 0px;
    margin-left: 30px;
    border-radius: 10px;
    color: #26221F;
    text-align: left;
 height: 300px;
    width: 89%;
    background-color: #a8bb61;}


.publicar_coment { background-color:antiquewhite;
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100%;
    width: 89%;
    margin: 30px;
    border-radius: 10px;
    color: #26221F;
    text-align: left;
}

.boton_publicar {background-color: #a8bb61;
    color: #26221F;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    border: 0px;
    font-family: 'Jua';}

.Publicado{
 max-height: 100%;
width: 80%;
justify-content: center;
display: flex;
flex-direction: row;
}

.User {background-color: antiquewhite;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
    
.perfilSonia { height: 60px;
    width: 60px;
    border-radius: 30px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;}

.user_name { margin-left: 30px;
    margin-top: 30px;
}

h5 {padding: 20px; font-size: 16px;}

.Imagen_coment {height: 100px; width: 30px;
    margin-top: 20px; object-fit: cover;
}

.Imagen_coment img {height: 200px;
margin-left: 20px;
margin-bottom: 10px; object-fit: cover;
}
.Tarta2 { width: 200px; margin-left: 0px;}
