.fullscreen {
    display: flex;
}
body {
    background-color: antiquewhite;
    margin: 0 auto;
}
.h4perfil {font-size: 16px;
    color: #26221F;padding: 20px;
    margin: 10px; text-align: center;}

.h2perfil {color:#26221F; margin-bottom: 0px;text-align: center;}

.h3perfil {color:#26221F;font-size: 12px; text-align: center;
    margin-top: 2px;}

    .ProfileBack { position: fixed;
        height: 900px;
        width: 30%;
        background-color: #ecac31;
        display: flex;
        justify-content: center;
        margin-left: 2%;
        border-radius: 10px;
        margin-top: 130px; }
        
        
        
    .ProfilePic {max-height: 300px;
            max-width: 300px;
            border-radius: 50%;
            margin-top: 30px;
        
        }
    .PersonalInfo {background-color:antiquewhite;
            position: absolute;
            top: 50%;
            min-height: 200px;
            max-height: 500px;
            width: 400px;
        border-radius: 10px;}
        
        
    .User {font-size: 20px;
            position: absolute;
            top: 38%;}
        
     #Profilemenu {background-color: #e5ba85;
            width: 63%;
            min-height: 1500px;
            position: absolute;
            left: 33%;
            top: 9%;
            justify-content: center;
            margin-top: 2%;
            margin-left: 2%;
            border-radius: 10px;}
            
            .container { display: flex;
                justify-content: space-around;
                flex-direction: row;
                align-items: center;
            
            }
     .button {
        padding: 60px;}
        
     .button2 {   text-decoration: none;
            background-color: #ed7230;
            color: antiquewhite;
            padding: 20px;
            width: 50px;
            border-radius: 5px;
            font-size: 20px;}

            .button{
                transform: scale(var(--escala, 1));
                transition: transform 0.25s;
              }
              .button:hover{
                --escala: 1.1;
                cursor:pointer;}