.fullscreen {
    display: flex;
}


    .ProfileBack { 
        position:fixed;
        height: 840px;
        width: 30%;
        background-color: #ecac31;
        display: flex;
        justify-content: center;
        margin-left: 2%;
        border-radius: 10px;
        margin-top: 130px; }
        
        
        
    .ProfilePic {max-height: 200px;
            max-width: 200px;
            border-radius: 50%;
            margin-top: 30px;
        
        }
    .PersonalInfo {background-color:antiquewhite;
            position: absolute;
            top: 50%;
            min-height: 200px;
            max-height: 500px;
            width: 25%;
        border-radius: 10px;}
        
        
    .User {font-size: 20px;
            position: absolute;
            top: 38%;}
        
     #Profilemenu {z-index: 1;
        background-color: #e5ba85;
            width: 63%;
            min-height: 100%;
            position: absolute;
            left: 33%;
            top: 9%;
            justify-content: center;
            margin-top: 2%;
            margin-left: 2%;
            border-radius: 10px;}
            
            .container { display: flex;
                justify-content: space-around;
                flex-direction: row;
                align-items: center;
            
            }
     .button {
        padding: 60px;}
        
     .button2 {   text-decoration: none;
            background-color: #ed7230;
            color: antiquewhite;
            padding: 20px;
            border-radius: 10px;
            font-size: 20px;
            font-family: 'Jua';}