.gallery { 
    position: relative;
    gap: 15px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    width: 1198px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.galleryimg {
    display: flex;
    flex-wrap: wrap ;
    width: 370px;
    height: 280px;}
    
.galleryimg img{
        width: 370px; 
        height: 280px;
        border-radius: 20px;}


h3 {font-size: 12px; text-align: center;
    margin-top: 2px;
}

h4 { 
}

h2{ margin-bottom: 0px;}


